{% extends 'modals/modal_delete_confirm_base.html' %}
{% load i18n app_filters %}

{% block delete_modal_title %}
    ❌ {% trans 'Удаление кампании' %}
{% endblock %}

{% block delete_modal_message %}
    {% trans 'Вы уверены, что хотите удалить кампанию' %} <strong>{{ campaign.name }}</strong>?
{% endblock %}

{% block delete_url %}
    {% url 'crm_core:delete_campaign' campaign.pk %}
{% endblock %}

{% block delete_target %}
    #campaign-{{ campaign.pk }}  {# Замените на ID элемента кампании в списке, например, li или tr #}
{% endblock %}

{% block delete_swap %}
    outerHTML
{% endblock %}