{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% block checklist_title %}{% endblock %} | {% trans "Чеклисты" %}{% endblock %}

{% block content %}
    {# Inherited blocks like list_title, list_actions, list_content will be used by extending templates #}
    {# Add checklist-specific wrappers or elements here if needed across multiple checklist pages #}
    {% block list_content %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {# Any JS specific to all checklist pages #}
    {% block checklist_scripts %}{% endblock %}
{% endblock %}