{% extends 'base.html' %}
{% block content %}
<div class="flex flex-col md:flex-row w-[400] gap-2 p-2">
    <!-- Left Column for Netping Device Details -->
    <div class="flex-1 w-1/3 h-[400] bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-4">
            <h2 class="text-2xl font-semibold mb-4">Device Details</h2>
            <table class="w-full text-left border-collapse">
                <tbody class="text-gray-700 font-sans">
                    <tr>
                        <td class="border px-2 py-2 font-medium">Hostname</td>
                        <td class="border px-2 py-2">{{ device.hostname }}</td>
                    </tr>
                    <tr>
                        <td class="border px-2 py-2 font-medium">Location</td>
                        <td class="border px-2 py-2">{{ device.location }}</td>
                    </tr>
                    <tr>
                        <td class="border px-2 py-2 font-medium">Device IP</td>
                        <td class="border px-2 py-2">{{ device.ip_address }}</td>
                    </tr>
                    <tr>
                        <td class="border px-2 py-2 font-medium">Uptime</td>
                        <td class="border px-2 py-2">{{ device.uptime }}</td>
                    </tr>
                    <tr>
                        <td class="border px-2 py-2 font-medium">Status</td>
                        <td class="border px-2 py-2 {% if device.status %}text-green-500{% else %}text-red-500{% endif %}">
                            {% if device.status %}Online <i class="fad fa-circle"></i>{% else %}Offline <i class="fa-solid fa-circle-exclamation"></i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="border px-2 py-2 font-medium">Last Updated</td>
                        <td class="border px-2 py-2">{{ device.last_updated }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% if has_problems %}
    <!-- Right Column for Problems with Fixed Width -->
    <div class="w-2/3 h-[400] bg-gray-50 shadow-lg rounded-lg overflow-hidden">
        <div class="p-4">
            {% include 'problems.html' %}
        </div>
    </div>
    {% else %}
    <div class="md:w-2/3 bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-xl font-semibold text-center">No Problems Yet</h2>
    </div>
    {% endif %}
</div>

<div class="w-full mt-2 bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="p-4">
        <h2 class="text-2xl font-semibold mb-4">Sensors</h2>
        <table class="w-full text-left border-collapse">
            <thead>
                <tr>
                    <th class="border px-2 py-2 bg-gray-100">Sensor Name</th>
                    <th class="border px-2 py-2 bg-gray-100">Type</th>
                    <th class="border px-2 py-2 bg-gray-100">Last Reading</th>
                    <th class="border px-2 py-2 bg-gray-100">Last Updated</th>
                </tr>
            </thead>
            <tbody class="text-gray-600">
                {% for sensor in device.sensor_set.all %}
                <tr>
                    <td class="border px-2 py-2">{{ sensor.sensor_name }}</td>
                    <td class="border px-2 py-2">{{ sensor.sensor_type }}</td>
                    <td class="border px-2 py-2">{{ sensor.value_current }}</td>
                    <td class="border px-2 py-2">{{ sensor.last_updated }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
