<div class="h-[400] flex">
    <div class="w-full">
        <h1 class="text-2xl font-semibold mb-4 text-gray-800">Problems</h1>
        <div class="overflow-y-auto max-h-[300px]">
            <table class="w-full text-left font-sans border-collapse">
                <thead class="bg-neutral-600 uppercase text-sm sticky top-0">
                    <tr class="text-gray-200 uppercase text-sm">
                        <th class="px-4 py-2 border-b">Type</th>
                        <th class="px-4 py-2 border-b">Severity</th>
                        <th class="px-4 py-2 border-b">Status</th>
                        <th class="px-4 py-2 border-b">Time</th>
                        <th class="px-4 py-2 border-b">Comments</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm">
                    {% for problem in device.problem_set.all %}
                        <tr onclick="window.location.href='{% url 'problem_detail' problem.pk %}';" class="transition-shadow duration-300 ease-in-out cursor-pointer hover:shadow-lg
                        {% if problem.problem_severity == 5 %}bg-red-300{% elif problem.problem_severity == 4 %}bg-red-200{% elif problem.problem_severity == 3 %}bg-orange-100{% elif problem.problem_severity == 2 %}bg-orange-300{% elif problem.problem_severity == 1 %}bg-yellow-100{% else %}bg-gray-100{% endif %}">
                            <td class="border px-4 py-2">{{ problem.problem_name|truncatechars:20 }}</td>
                            <td class="border px-4 py-2">{{ problem.get_problem_severity_display }}</td>
                            <td class="border px-4 py-2 {% if problem.status %}text-red-500{% else %}text-green-500{% endif %}">
                                {% if problem.status %}Open{% else %}Resolved{% endif %}
                            </td>
                            <td class="border px-4 py-2">{{ problem.created }}</td>
                            <td class="border px-4 py-2">
                                {% for comment in problem.comment.all %}
                                    <div class="mb-2">{{ comment.comment|truncatechars:20 }} - <i class="text-gray-500">{{ comment.user.username }}</i></div>
                                {% empty %}
                                    <span class="text-gray-400">No comments</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
