{% extends 'base.html' %}
{% block content %}
<div class="h-screen flex flex-col p-4 bg-gray-100">
    <div class="w-full bg-white shadow-lg rounded-lg overflow-hidden">
        <h1 class="text-2xl font-semibold mb-4 p-4 border-b">Problems</h1>
        <table class="w-full text-left border-collapse">
            <thead>
                <tr class="bg-gray-200 text-gray-700">
                    <th class="capitalize px-4 py-3 border-b">Type</th>
                    <th class="capitalize px-4 py-3 border-b">Severity</th>
                    <th class="capitalize px-4 py-3 border-b">Status</th>
                    <th class="capitalize px-4 py-3 border-b">Last Updated</th>
                </tr>
            </thead>
            <tbody class="text-gray-600">
                <tr onclick="window.location.href='{% url 'problem_detail' problem.pk %}';" class="cursor-pointer transition-transform transform hover:scale-105 hover:shadow-lg {% if problem.problem_severity == 'disaster' %}bg-red-100{% elif problem.problem_severity == 'high' %}bg-yellow-100{% elif problem.problem_severity == 'average' %}bg-orange-100{% elif problem.problem_severity == 'warning' %}bg-blue-100{% elif problem.problem_severity == 'information' %}bg-green-100{% else %}bg-gray-100{% endif %}">
                    <td class="border border-gray-300 px-4 py-3">{{ problem.problem_name }}</td>
                    <td class="border border-gray-300 px-4 py-3">{{ problem.get_problem_severity_display }}</td>
                    <td class="border border-gray-300 px-4 py-3 {% if problem.status %} text-red-500{% else %}text-green-500{% endif %}">
                        {% if problem.status %}Relevant{% else %}Resolved{% endif %}
                    </td>
                    <td class="border border-gray-300 px-4 py-3">{{ problem.last_updated }}</td>
                </tr>
            </tbody>
        </table>
        <div class="p-4 bg-gray-50 border-t">
            {% include 'comments.html' %}
        </div>
    </div>
</div>
{% endblock %}
