{% extends 'modals/modal_delete_confirm_base.html' %}
{% load i18n app_filters %}

{% block delete_modal_title %}
    ❌ {% trans 'Удаление кампании' %}
{% endblock %}

{% block delete_modal_message %}
    {% trans 'Вы уверены, что хотите удалить кампанию' %} <strong>{{ project.name }}</strong>?
{% endblock %}

{% block delete_url %}
    {% url 'tasks:delete_project' project.pk %}
{% endblock %}

{% block delete_target %}
    #project-{{ project.pk }}  {# Замените на ID элемента кампании в списке, например, li или tr #}
{% endblock %}

{% block delete_swap %}
    outerHTML
{% endblock %}