{# modals/modal_task_form.html #}
{% extends 'modals/modal_form_base.html' %}
{% load i18n app_filters %}

{% block modal_title %}
  {% if form.instance.pk %}✏️ {% trans 'Редактировать задачу' %}{% else %}➕ {% trans 'Создать задачу' %}{% endif %}
{% endblock %}

{% block form_fields %}
  {% if form.errors %}
    <div class="bg-red-50 text-red-700 p-3 rounded-lg shadow text-sm border border-red-200" role="alert">
      <strong class="font-semibold">⚠️ {% trans "Ошибка!" %}</strong> {% trans "Пожалуйста, исправьте ошибки ниже." %}
    </div>
  {% endif %}

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 sm:gap-x-6 gap-y-3 sm:gap-y-4 w-full">
    {% for field in form %}
        <div class="col-span-1">
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                {{ field.label }}
            </label>
            <div class="mt-1">
                {{ field|add_css_class:"block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" }}
                {% if field.errors %}
                    <ul class="mt-1 text-xs text-red-500">
                        {% for error in field.errors %}
                            <li>⚠️ {{ error }}</li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}