{% extends 'list_base.html' %}
{% load i18n %}

{% block list_title %}
    {% trans 'Роли' %}
{% endblock %}

{% block list_actions %}
    <button
        hx-get="{% url 'crm_core:role_create' %}"
        hx-target="#modal-container"
        class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        aria-label="{% trans 'Создать новую роль' %}"
    >
        ➕ {% trans 'Создать роль' %}
    </button>
{% endblock %}

{% block list_content %}
    <ul id="role-list" role="list" class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for role in roles %}
            <li id="role-{{ role.pk }}" class="bg-white shadow overflow-hidden rounded-md">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">
                        {{ role.name }}
                    </h3>
                </div>
                <div class="border-t border-gray-200">
                    <div class="bg-gray-50 px-4 py-2 sm:px-6 flex justify-end space-x-2">
                        <button
                            hx-get="{% url 'crm_core:modal_update_role' role.pk %}"
                            hx-target="#modal-container"
                            class="inline-flex items-center px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                            aria-label="{% trans 'Редактировать роль' %}"
                        >
                            ✏️ {% trans 'Редактировать' %}
                        </button>
                        <button
                            hx-get="{% url 'crm_core:role_delete' role.pk %}"
                            hx-target="#modal-container"
                            class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-500 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                            aria-label="{% trans 'Удалить роль' %}"
                        >
                            ❌ {% trans 'Удалить' %}
                        </button>
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="text-center text-gray-500 py-4">
                <span class="text-lg">{% trans 'Нет ролей.' %}</span>
                <i class="fas fa-user-shield text-gray-400 mt-2"></i>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
