{% load i18n %}

{% if formset and formset.non_form_errors %}
    <div class="text-red-500">
        <p>Ошибки формсета:</p>
        <ul>
            {% for error in formset.non_form_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if formset %}
    {% for individual_form in formset %}
        {% if individual_form.errors %}
            <div class="text-orange-500 mt-2">
                <p>Ошибки в пункте {{ forloop.counter }}:</p>
                <ul>
                    {% for field_name, error_list in individual_form.errors.items %}
                        {% for error in error_list %}
                            <li>{{ field_name }}: {{ error|escape }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}