{% load crispy_forms_tags i18n %}

<form id="edit-task-inner-form" method="post" action="{% if task_id %}{% url 'tasks:task_update' pk=task_id %}{% else %}{% url 'tasks:task_create' %}{% endif %}" enctype="multipart/form-data" {% if task_id %}data-task-id="{{ task_id }}"{% endif %}>
    {% csrf_token %}
    {% crispy task_form %}

    <div class="flex justify-end space-x-2 mt-6 pt-4 border-t border-gray-200">
        <button type="button" id="cancel-edit-modal-btn" class="btn btn-secondary" onclick="closeModal('taskEditModal')">{% trans "Отмена" %}</button>
        <button type="submit" class="btn btn-primary">{% trans "Сохранить изменения" %}</button>
    </div>
</form>