{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ page_title|default:_("Удаление пользователя") }}{% endblock %}

{% block page_title_block %}
  <h1 class="text-title-md2 font-semibold text-black dark:text-white">
    {{ page_title|default:_("Удаление пользователя") }}
  </h1>
{% endblock %}

{% block content %}
<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
        <h3 class="font-medium text-black dark:text-white">
            {% trans "Подтверждение удаления" %}
        </h3>
    </div>
    <div class="p-6.5">
        <p class="text-black dark:text-white mb-4">
            {% blocktrans with username=object.display_name %}
            Вы уверены, что хотите удалить пользователя <strong>{{ username }}</strong> (@{{ object.username }})?
            {% endblocktrans %}
        </p>
        {% if object == request.user %}
            <p class="text-warning font-semibold mb-6">{% trans "Внимание: Вы пытаетесь удалить свой собственный аккаунт! Это действие приведет к выходу из системы." %}</p>
        {% else %}
             <p class="text-danger font-semibold mb-6">{% trans "Это действие нельзя будет отменить!" %}</p>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="flex justify-end gap-3 mt-4">
                <a href="{{ object.get_absolute_url|default_if_none:request.META.HTTP_REFERER|default_if_none:'user_profiles:user_list' }}" class="flex justify-center rounded bg-gray-200 dark:bg-gray-700 px-6 py-2 font-medium text-gray-700 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-600">
                    {% trans 'Отмена' %}
                </a>
                {# Кнопка удаления неактивна, если пользователь пытается удалить себя (хотя view это предотвратит) #}
                <button type="submit" 
                        class="flex justify-center rounded px-6 py-2 font-medium text-white 
                               {% if object == request.user %}bg-gray-400 cursor-not-allowed{% else %}bg-danger hover:bg-opacity-90{% endif %}"
                        {% if object == request.user %}disabled title="{% trans 'Вы не можете удалить свой аккаунт таким образом.' %}"{% endif %}>
                    <i class="fas fa-trash mr-2 mt-0.5"></i> {% trans 'Да, удалить' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}