{% load crispy_forms_tags i18n %}

<form id="edit-task-inner-form" method="post" action="{% url 'tasks:task_edit' task_id %}" enctype="multipart/form-data" data-task-id="{{ task_id }}">
    {% csrf_token %}
    {{ task_form|crispy }}
    <div class="flex justify-end space-x-2 mt-4 pt-4 border-t border-gray-200">
        <button type="button" id="cancel-edit-modal-btn" class="btn btn-secondary" onclick="closeEditModal()">{% trans "Отмена" %}</button>
        <button type="submit" class="btn btn-primary">{% trans "Сохранить изменения" %}</button>
    </div>
</form>